@model GROUPJ_A1.Models.Employee

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h4>GROUP J</h4>
<h5>Manthankumar Rasikbhai Patel 834237</h5>
<h5> Romanjit Kaur 798336</h5>
<h5>Sruthy Amey Samuel 834672</h5>
<h5>Sandeep Kaur 834670</h5>
<h5>Satya Jeet Saini 845554</h5>
<p>
    Controller:Sruthy
    Models:Romanjit
    views:Manthankumar and Satya
    Index:sandeep

    Meeting 1: Comparison of lab004 with the assignment and the task alloted to each member.
    Meeting 2: Controller and Model was developed. index and views are left.
    Meeting 3:---------
</p>



